$bodyFontColor: #444;
$white: #fff;
$black: #444;
$red: #f03435;
$redHover: #f54748;
$plusColor: #cfae68;
$plusColor2: #eecd60;
$plusHoverColor: #daba75;

//透明度兼容性
@mixin opacity($opacity: 0) {
  filter: alpha(opacity=$opacity*100);
  opacity: $opacity;
}

//过渡效果
@mixin transition($property, $duration: .3s, $timing-function: ease, $delay: 0s) {
  transition: $property $duration $timing-function $delay;
}

//线性渐变背景色，ie9下会使border-radius失效
@mixin linearGradient($startColor, $endColor) {
  background: linear-gradient($startColor, $endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#{$startColor}, endcolorstr=#{$endColor}, gradientType=0);
}

// 文字颜色渐变，只在webkit内核的浏览器上才能正常工作
@mixin textLinearGradient($startColor, $endColor, $color, $from: top) {
  color: $color;  // 不支持渐变的浏览器展示文字颜色
  background-image: -webkit-linear-gradient($from, $startColor, $endColor);  // 背景色渐变
  -webkit-background-clip: text;  // 规定背景的划分区域
  -webkit-text-fill-color: transparent;  // 防止字体颜色覆盖
}

//截断省略
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//多行截断省略
@mixin multipleEllipsis($num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

//ie9兼容
@mixin hackIe9($property, $value) {
  #{$property}: #{$value}#{\0};
}
