<!--shortcut start-->
<div id="shortcut-2014">
  <div class="w">
      <ul class="fl">
          <li id="ttbar-home"><i class="iconfont">&#xe608;</i><a href="//www.jd.com/" target="_blank">京东首页</a></li>
          <li class="dorpdown" id="ttbar-mycity"></li>
      </ul>
      <ul class="fr">
          <li class="fore1" id="ttbar-login">
              <a href="javascript:login();" class="link-login">你好，请登录</a>&nbsp;&nbsp;<a href="javascript:regist();" class="link-regist style-red">免费注册</a>
          </li>
          <li class="spacer"></li>
          <li class="fore2">
              <div class="dt">
                  <a target="_blank" href="//order.jd.com/center/list.action">我的订单</a>
              </div>
          </li>
          <li class="spacer"></li>
          <li class="fore3 dorpdown" id="ttbar-myjd">
              <div class="dt cw-icon">
                  <!-- <i class="ci-right"><s>◇</s></i> -->
                  <a target="_blank" href="//home.jd.com/">我的京东</a><i class="iconfont">&#xe605;</i>
              </div>
              <div class="dd dorpdown-layer"></div>
          </li>
          <li class="spacer"></li>
          <li class="fore4">
              <div class="dt">
                  <a target="_blank" href="//vip.jd.com/">京东会员</a>
              </div>
          </li>
          <li class="spacer"></li>
          <li class="fore5">
              <div class="dt">
                  <a target="_blank" href="//b.jd.com/">企业采购</a>
              </div>
          </li>
          <li class="spacer"></li>
          <li class="fore6 dorpdown" id="ttbar-serv">
              <div class="dt cw-icon">
                  <!-- <i class="ci-right"><s>◇</s></i> -->
                  客户服务<i class="iconfont">&#xe605;</i>
              </div>
              <div class="dd dorpdown-layer"></div>
          </li>
          <li class="spacer"></li>
          <li class="fore7 dorpdown" id="ttbar-navs">
              <div class="dt cw-icon">
                  <!-- <i class="ci-right"><s>◇</s></i> -->
                  网站导航<i class="iconfont">&#xe605;</i>
              </div>
              <div class="dd dorpdown-layer"></div>
          </li>
          <li class="spacer"></li>
          <li class="fore8 dorpdown" id="ttbar-apps">
              <div class="dt cw-icon">
                  <!-- <i class="ci-left"></i> -->
                  <!-- <i class="ci-right"><s>◇</s></i> -->
                  <a target="_blank" href="//app.jd.com/">手机京东</a>
              </div>
          </li>
      </ul>
      <span class="clr"></span>
  </div>
</div>
<div id="o-header-2013"><div id="header-2013" style="display:none;"></div></div>
<!--shortcut end-->
